<!-- inner-banner -->
<section class="page-title-section top-position1 bg-img cover-background left-overlay-secondary" data-overlay-dark="6" data-background="assets/images/banner/praiinnerbanner.jpg" style="background-image: url(assets/images/banner/praiinnerbanner.jpg);">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="text-start">
                  <div class="position-relative">
                      <h1>Event</h1>
                  </div>
                  <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Event</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- inner-banner -->
<!-- event -->
<div class="eventarea">
  <div class="container">
<div class="comments-area mb_60">
  <h4 class="blog-1-title mb_25 fs_32 fw_black lh_35 mb_20 mt_70">Event</h4>
  <div class="single-comment p_25 pb_20">
      <div class="d-flex">
          <div class="author mr_30 mb_20"><img src="assets/images/banner/event1.jpg" alt=""></div>
          <div>
              <h5 class="fs_18 c_dark5"><a href="#" class="event-heading">June 2024 Orientation</a></h5>
              <p class="m-0">Orientation Info and Links</p>
              <p class="m-0 fw_medium date"><a href=""><i class="fa-solid fa-calendar-days"></i> 10 Jan. 2022</a>  <span class="ml_10 mr_10">|</span>  <a href="#" class="c_primary">Read More</a></p>
          </div>
      </div>
  </div>
  <div class="single-comment p_25 pb_20">
      <div class="d-flex">
          <div class="author mr_30 mb_20"><img src="assets/images/banner/event2.jpg" alt=""></div>
          <div>
              <h5 class="fs_18 c_dark5"><a href="#" class="event-heading">Convocation 2022</a></h5>
              <p class="m-0">Graduation Ceremony </p>
              <p class="m-0 fw_medium date"><a href=""><i class="fa-solid fa-calendar-days"></i> 24 Jan. 2024</a> <span class="ml_10 mr_10">|</span>  <a href="#" class="c_primary">Read More</a></p>
          </div>
      </div>
  </div>

</div>
</div>
</div>
<!-- event -->
