<!-- inner-banner -->
<section class="page-title-section top-position1 bg-img cover-background left-overlay-secondary" data-overlay-dark="6" data-background="assets/images/banner/praiinnerbanner.jpg" style="background-image: url(assets/images/banner/praiinnerbanner.jpg);">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="text-start">
                  <div class="position-relative">
                      <h1>International Admissions</h1>
                  </div>
                  <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">International Admissions</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- inner-banner -->
<!-- financia-aid -->
<section class="pt_120 pb_90">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h6 class="theme-color ff_sec fw_bold tt_u fs_14 ls_1 mb_15"><span class="w_30 h_2 theme-bg mr_10 d_iblock v_middle"></span>Admissions</h6>
              <h2 class="fs_45 fw_black mb_30">International Admissions</h2>
              <p class="mb_10 fs_15 c_dark3">We are happy to announce that Prairie Western College (DLI O278565506082) can enroll International Students for our exciting programs. </p>
              <p class="mb_10 fs_15 c_dark3">Prairie Western College has been granted DLI status. A DLI is a school approved by a provincial or territorial government to host international students.</p>
              <p class="mb_10 fs_15 c_dark3"><b>(Please find the PDF Handbook at the end of this page for detailed information)</b></p>
              <p class="mb_10 fs_15 c_dark3">For details, please contact the admissions office via internationalprairiewestern.ca or 403-454-7923</p>
              <p class="mb_20" style="font-weight: 700;"><b>Preface</b></p>
              <!-- <ul class="list-1 alt fs_16 fw_medium c_dark2 mb_30">
                <li><i class="fa-solid fa-square-check"></i>Scholarships and awards</li>
                <li><i class="fa-solid fa-square-check"></i>Bursaries</li>
                <li><i class="fa-solid fa-square-check"></i>Grants</li>
                </ul> -->
                <p class="mb_10 fs_15 c_dark3">Prairie Western College (PWC), a fully accredited Private Career College in Alberta,is committed to excellence in teaching, learning, intellectual inquiry, advancement of knowledge, personal & professional development and good citizenship. Our goal is to provide quality and affordable education to our students and develop them as responsible individuals and members of the society with all rights and responsibilities.  Our programs are designed to give students on-the-job experience that employers are looking for.</p>
                <p class="mb_10 fs_15 c_dark3">Our students are expected to abide by and promotePrairie Western College’s core values of honesty, trust, respect, empathy, compassion, fairness and personal accountability in all aspect of college life - be in academic or non-academic activities. These core values are intended to enlighten students and guide their behavior so as to foster mutual respect for the dignity, property, right and well-being of others.</p>
                <p class="mb_10 fs_15 c_dark3">We value integrity, inclusiveness and teamwork.For thisour college is committed to provide developmental and educational opportunities to student on behavioral issues when appropriate. We believe college is a place for our students to grow and develop themselves. To this end, non-academic misconduct system atPrairie Western College’s is also part of that boarder learning environment.</p>
                <p class="mb_20" style="font-weight: 700;"><b>Why Study in Canada?</b></p>
                <p class="mb_10 fs_15 c_dark3">Canada is recognized worldwide for outstanding quality of education and ranked among the top 3 countries in the world for studying abroad. Every year students from different corners of the world migrate to Canada for their higher education.</p>
                <p class="mb_10 fs_15 c_dark3">There are countless benefits for international students studying in Canada. Canada has been consistently ranked as one of the safest nations in the world. As international student, you will enjoy the same rights as any other Canadian. Canada also gives you the opportunity to work for up to 20 hours every week during semesters and full-time during the summer and winter breaks. Study permit is enough to help you find a part time job (no additional work permit is required). As per current Immigration, Refugees and Citizenship Canada (IRCC) guidelines, international students graduating from licensed programs at a private career college in Alberta are not eligible for a Post Graduation Work Permit (PGWP).</p>
                <p class="mb_10 fs_15 c_dark3">Please check the following Government of Canada site for more details (with a section on working and studying in Canada)</p>
                <p class="mb_10 fs_15 c_dark3"><a href="">Govt of Canada Link for International Students</a></p>
                <p class="mb_20" style="font-weight: 700;"><b>Why Study in Prairie Western College (PWC)?</b></p>
                <p class="mb_10 fs_15 c_dark3">Prairie Western College is a modern and progressive institution that creates pathway to university for international students. Life at Prairie Western College is more than an academic experience. You will benefit from our innovative learning environment. Prairie Western College offers a variety of services and advantages-</p>
                <ul class="list-1 alt fs_16 fw_medium c_dark2 mb_30">
                  <li><i class="fa-solid fa-square-check"></i>You will learn skills that enable you to take a leading role in your future profession. Leadership skills will help you negotiate with colleagues, and clients, manage a team, make decisions, communicate your ideas and ultimately progress your career.</li>
                  <li><i class="fa-solid fa-square-check"></i>All of Prairie Western College programs provide the students with the opportunity to focus in on the development of particular skills in keeping with needs and interests.</li>
                  <li><i class="fa-solid fa-square-check"></i>Employers want graduates who can understand and respond to complex problems. Prairie Western College offers units of study, programs and experiences within the classroom and beyond, that give you the space to explore your interests and pursue your goals, enabling you to take a leading role in your future profession.</li>
                  <li><i class="fa-solid fa-square-check"></i>Prairie Western College education will help you not just to learn, but to apply your knowledge to real-life situations.</li>
                  <li><i class="fa-solid fa-square-check"></i>Prairie Western College provides you with the skills sought after by employers, and connects you to a truly global network, so you can choose the one that best suits your aspirations.</li>
                  <li><i class="fa-solid fa-square-check"></i>Prairie Western College programs and education environment prepare you for work, as well as for success into the future, reshaping every aspect of your life including long lasting career success.</li>

                </ul>
                <p class="mb_20" style="font-weight: 700;"><b>Program offered by Prairie Western College</b></p>
                <p class="mb_10 fs_15 c_dark3">Currently in Prairie Western College we are offering four (4) programs. However, more exciting and career oriented programs are in approval process with Advanced Education, Govt. of Alberta. Please check the college website for most up-to-date information on program offering.</p>
                
            </div>

      </div>
  </div>
</section>
<!-- financial-aid -->
