<!-- inner-banner -->
<section class="page-title-section top-position1 bg-img cover-background left-overlay-secondary" data-overlay-dark="6" data-background="assets/images/banner/praiinnerbanner.jpg" style="background-image: url(assets/images/banner/praiinnerbanner.jpg);">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="text-start">
                  <div class="position-relative">
                      <h1>Existing Programs</h1>
                  </div>
                  <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Existing Programs</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- inner-banner -->
<!-- programs -->

 <section class="pb_110 pt_100">
  <div class="container">
     <h6 class="theme-color ff_sec fw_bold tt_u fs_14 ls_1 mb_15"><span class="w_30 h_2 theme-bg mr_10 d_iblock v_middle"></span>Grab One Of</h6>
     <h2 class="fw_black fs_45 mb_20">Our Programs</h2>
     <p class="mb_50 fs_18">Our programs encompass all aspects of business to make our graduates successful in real
        world.
     </p>
     <div class="row">
        <div class="col-lg-4">
           <div class="service-1-block">
              <div class="service-1-shape"></div>
              <div class="service-1-icon">
                 <img src="assets/images/banner/education.png">
              </div>
              <h4 class="service-1-title fs_25">Accounting and Payroll Administration</h4>
              <div class="service-1-image">
                 <img src="assets/images/banner/1-min (1).png" alt="">
                 <div class="service-1-read-more"><a [routerLink]="['/coursedetails']" class="c_light ff_sec fw_bold tt_u fs_14 ls_1">Read More <i class="ml_7 fs_17 v_middle flaticon-fast-forward"></i></a></div>
              </div>
           </div>
        </div>
        <div class="col-lg-4">
           <div class="service-1-block">
              <div class="service-1-shape"></div>
              <div class="service-1-icon">
                 <img src="assets/images/banner/education.png">
              </div>
              <h4 class="service-1-title fs_25">Medical Office Assistant and Unit Clerk</h4>
              <div class="service-1-image">
                 <img src="assets/images/banner/courseprai2-min.png" alt="">
                 <div class="service-1-read-more"><a href="#" class="c_light ff_sec fw_bold tt_u fs_14 ls_1">Read More <i class="ml_7 fs_17 v_middle flaticon-fast-forward"></i></a></div>
              </div>
           </div>
        </div>
        <div class="col-lg-4">
           <div class="service-1-block">
              <div class="service-1-shape"></div>
              <div class="service-1-icon">
                 <img src="assets/images/banner/education.png">
              </div>
              <h4 class="service-1-title fs_25">Business Administration (1 and 2 year...) </h4>
              <div class="service-1-image">
                 <img src="assets/images/banner/courseprai1-min.png" alt="">
                 <div class="service-1-read-more"><a href="#" class="c_light ff_sec fw_bold tt_u fs_14 ls_1">Read More <i class="ml_7 fs_17 v_middle flaticon-fast-forward"></i></a></div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>

<!-- programs -->
