
<!-- inner-banner -->
<section class="page-title-section top-position1 bg-img cover-background left-overlay-secondary" data-overlay-dark="6" data-background="assets/images/banner/praiinnerbanner.jpg" style="background-image: url(assets/images/banner/praiinnerbanner.jpg);">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="text-start">
                  <div class="position-relative">
                      <h1>Program Details</h1>
                  </div>
                  <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Program Details</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- inner-banner -->
<!-- coursedetailsarea -->
<div class="sidebar-page-container">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 pe-lg-5">
              <div class="course-1-block mb_40 wow fadeInLeft animated" data-wow-delay=".2s" data-wow-duration=".8s" style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInLeft;">
                  <div class="course-1-image"><img src="assets/images/banner/coursedetailsaccounting.jpg" alt=""></div>
                  <div class="course-1-lower-content-alt2 p_relative">
                      <div class="d-flex mb_15">
                          <p class="fs_22 fw_bold c_primary mr_40">Accounting and Payroll Administration</p>

                      </div>
                      <h4 class="course-1-title mb_15 fw_black fs_34 lh_35">Accounting and Payroll Administration Diploma</h4>
                      <p class="mb_30">With the rapid advancement in technology in a continuous changing global business world the demand for accounting professionals will never diminish rather it will continuously evolve as per needs. Accountant vis-e-vis payroll administrators are needed in every business industry whether it is a defense, healthcare or a manufacturing industry; whether it is in home or abroad; or even in the public or in private sector. That is why it is being said that, “Society needs an accountant even at the funeral to count the cost”.</p>
                      <p class="mb_30">The Accounting and Payroll Administration at Prairie Western College is designed to address the needs of accounting professionals of all industries of 21st century. The goal is to prepare and develop students with the required accounting and payroll administration knowledge, skill sets and technological know-how to address 21st century workplace challenges of any industry be in corporate or small business setting. Apart from core component of Accounting & Payroll Administration program students of this program will also be exposed to other aspect of business discipline notably human resources, management and business communication to become a better employee who can effectively contribute in a team-work setting.</p>
                      <p class="mb_30">Towards the end of the program, students will be able test their knowledge and skill sets either in an external corporate setting or in an in-house simulated corporate setting.</p>
                      <p class="mb_30 underline">You can download the program outline for the program at the end of the page.</p>
                      <h4 class="course-1-title mb_25 fs_32 fw_black lh_35">Career Opportunities</h4>

                      <p class="mb_50">Upon successful completion, a graduate of this program would be eligible for job oppertunities in positions like Accounting Clerk, Payroll Clerk, Accounting Bookkeeper, Accounts Payable/Receivable Clerk etc.</p>

                      <h4 class="course-1-title mb_25 fs_32 fw_black lh_35">Career Opportunities</h4>
                      <img src="assets/images/banner/download (1).png" alt="">
                      <p class="mb_50 mt-20">Source:<a href="https://alis.alberta.ca/occinfo/occupations-in-alberta/occupation-profiles/payroll-administrator/" style="color:#0563c1; text-decoration:underline">https://alis.alberta.ca/occinfo/occupations-in-alberta/occupation-profiles/payroll-administrator/</a></p>

                      <h4 class="course-1-title mb_25 fs_32 fw_black lh_35">Job Prospect in Alberta</h4>
                      <p class="mb_20">According to the local employment potential information the job market in accounting sector will experience employment growth in Alberta. Rise in population in Alberta will lead to extension of organizations and companies. This will create Labor Shortage in accounting job market and hence Alberta will experience demand for accountants and related posts. Thus, there will be demand for the graduates of Accounting and Payroll Administration Diploma.</p>
                      <p class="mb_20">Though COVID-19 has badly affected economy and job market in Alberta, and automation has caused loss of jobs, human labor cannot be replaced in accounting sector, since rising business cannot afford to switch to automation, as it is costly. Besides, not all tasks can be performed by automation system.</p>
                      <p class="mb_20">If population growth declines, it will create vacancy in job market.</p>
                      <p class="mb_20">Therefore, graduates of Accounting and Payroll Administration Diploma will always have demand in Alberta.</p>
                      <p class="mb_20">Download below for Accounting and Payroll Administration Diploma outline</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <aside class="sidebar">
                  <!-- Search -->
                  <div class="sidebar-widget search-box">

                  </div>
                  <!--course Category Widget-->
                  <div class="sidebar-widget sidebar-course-category enroll-courses">
                      <div class="sidebar-title">
                          <h2> <img src="assets/images/banner/book (3).png" alt=""> Program Category</h2>
                      </div>
                      <ul class="cat-list">
                          <li><a href="#">Home Construction <i class="fa-solid fa-arrow-right mrarrow"></i></a></li>
                          <li><a href="#">General Construction <i class="fa-solid fa-arrow-right mrarrow"></i></a></li>

                      </ul>
                  </div>
                  <!-- Popular Posts -->
                  <div class="sidebar-widget popular-posts enroll-courses">
                      <div class="sidebar-title"><h2><img src="assets/images/banner/university (5).png" alt=""> Other Program</h2></div>

                      <article class="post">
                          <figure class="post-thumb"><a href=""><img src="assets/images/banner/coursesmall.jpg" alt=""></a></figure>
                          <div class="text"><a href="">Education Assistant Diploma Program ...</a></div>
                          <div class="post-info"><a href="">Apply Now</a></div>
                      </article>

                      <article class="post">
                          <figure class="post-thumb"><a href=""><img src="assets/images/banner/coursesmall1.jpg" alt=""></a></figure>
                          <div class="text"><a href="">Child Care Certificate and Diploma ...</a></div>
                          <div class="post-info"><a href="">Apply Now</a></div>
                      </article>

                      <article class="post">
                          <figure class="post-thumb"><a href=""><img src="assets/images/banner/coursesmall.jpg" alt=""></a></figure>
                          <div class="text"><a href="">Medical Office Assistant and Unit Clerk ...</a></div>
                          <div class="post-info"><a href="">Apply Now</a></div>
                      </article>

                      <article class="post">
                          <figure class="post-thumb"><a href=""><img src="assets/images/banner/coursesmall1.jpg" alt=""></a></figure>
                          <div class="text"><a href="">Business Administration (1 and 2 year) Diploma ...</a></div>
                          <div class="post-info"><a href="">Apply Now</a></div>
                      </article>
                  </div>



              </aside>
          </div>
      </div>
  </div>
</div>
<!-- coursedetailsarea -->
