<!-- inner-banner -->
<section class="page-title-section top-position1 bg-img cover-background left-overlay-secondary" data-overlay-dark="6" data-background="assets/images/banner/praiinnerbanner.jpg" style="background-image: url(assets/images/banner/praiinnerbanner.jpg);">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="text-start">
                  <div class="position-relative">
                      <h1>Blog</h1>
                  </div>
                  <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Blog</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- inner-banner -->
<!-- blog -->
<section class="pt_120 pb_90">
  <div class="container">
      <div class="d-flex flex-wrap justify-content-lg-between align-items-end">
          <div>
              <h6 class="theme-color ff_sec fw_bold tt_u fs_14 ls_1 mb_15"><span class="w_30 h_2 theme-bg mr_10 d_iblock v_middle"></span>From the blog</h6>
              <h2 class="fs_45 fw_black mb_40">Blogs</h2>
          </div>
          <p class="mb_40">Going forward, a new normal that has evolved from generation is on <br> the runway
              heading towards a streamlined.</p>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6">
              <div class="blog-1-block wow fadeInLeft animated animated" data-wow-delay=".2s" data-wow-duration=".8s" style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInLeft;">
                  <div class="blog-1-image hvr-img-zoom-1"><a href="#"><img src="assets/images/banner/blogprai.jpg" alt=""></a></div>
                  <div class="blog-1-lower-content p_relative">
                      <div class="blog-1-date fs_19 fw_medium w_130 h_50 theme-bg p_absolute r_25 t_0 text-center text-light pt_15  lh_25">
                          2024-04-12</div>
                      <p class="blog-1-post-meta fs_17 fw_medium">Admin</p>
                      <h4 class="blog-1-title mb_30 fs_20 lh_30"><a href="">accounting-and-business-course-schedule</a>
                      </h4>
                      <div class="blog-1-read-more"><a class="ff_sec fw_bold tt_u fs_14 ls_1 c_primary pl_30 pr_30 p_relative z_1" href="">continue
                              reading</a></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="blog-1-block wow fadeInLeft animated animated" data-wow-delay=".2s" data-wow-duration=".8s" style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInLeft;">
                  <div class="blog-1-image hvr-img-zoom-1"><a href=""><img src="assets/images/banner/blogprai1.jpg" alt=""></a></div>
                  <div class="blog-1-lower-content p_relative">
                      <div class="blog-1-date fs_19 fw_medium w_130 h_50 theme-bg p_absolute r_25 t_0 text-center text-light pt_15  lh_25">
                          2024-04-05</div>
                      <p class="blog-1-post-meta fs_17 fw_medium">Admin</p>
                      <h4 class="blog-1-title mb_30 fs_20 lh_30"><a href="">Best
                              d2l-login</a></h4>
                      <div class="blog-1-read-more"><a class="ff_sec fw_bold tt_u fs_14 ls_1 c_primary pl_30 pr_30 p_relative z_1" href="">continue
                              reading</a></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="blog-1-block wow fadeInLeft animated animated" data-wow-delay=".2s" data-wow-duration=".8s" style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInLeft;">
                  <div class="blog-1-image hvr-img-zoom-1"><a href=""><img src="assets/images/banner/blogprai2.jpg" alt=""></a></div>
                  <div class="blog-1-lower-content p_relative">
                      <div class="blog-1-date fs_19 fw_medium w_130 h_50 theme-bg p_absolute r_25 t_0 text-center text-light pt_15  lh_25">
                          2024-03-29</div>
                      <p class="blog-1-post-meta fs_17 fw_medium">Admin</p>
                      <h4 class="blog-1-title mb_30 fs_20 lh_30"><a href="">Which Is
                              MOA-Schedule</a></h4>
                      <div class="blog-1-read-more"><a class="ff_sec fw_bold tt_u fs_14 ls_1 c_primary pl_30 pr_30 p_relative z_1" href="">continue
                              reading</a></div>
                  </div>
              </div>
          </div>


          <!-- <div class="redmre_btnstructure">
              <div class="link-btn mb_0">
                  <a href="" class="btn-1 pt_18 pb_15 pl_30 pr_30 b_radius_5 ff_sec fw_bold tt_u fs_14 ls_1">
                      Read More
                      <i class="fa-solid fa-circle-arrow-right"></i>
                      <span style="top: 221.109px; left: 168.5px;"></span>
                  </a>
              </div>
          </div> -->
      </div>
  </div>
</section>
<!-- blog -->
