<!-- footer -->
<footer class="main-footer">
  <div class="footer-top bg_dark8">
      <div class="container">
          <div class="row no-gutters">
              <div class="col-lg-4 col-md-6">
                  <div class="contact-info-box2 d-flex align-items-start pt_20 pb_15">
                      <img class="mr_20 mt_10" src="assets/images/banner/icon-map.png" alt="">
                      <p class="c_light mb_0 lh_30 adress_ftrtext">Address :<br>915 33 ST NE Calgary AB T2A6T2</p>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="contact-info-box2 d-flex align-items-start ps-md-5 pt_20 pb_15">
                      <img class="mr_20 mt_10" src="assets/images/banner/icon-mail.png" alt="">
                      <p class="c_light mb_0 lh_30">Email us : <br> <a class="fs_20" href="">information.pwc
                              <br>student.pwc</a></p>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="contact-info-box2 d-flex align-items-start ps-lg-5 pt_20 pb_15">
                      <img class="mr_20 mt_10" src="assets/images/banner/icon-phone.png" alt="">
                      <p class="c_light mb_0 fs_20 lh_30">Call us on : <br> <a class="fs_22 fw_medium" href="tel:03224 – 255355 / 03224 – 255356"> 403-454-0948, 403-454-7923</a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-border"></div>
  <div class="footer-1-middle pt_60 bg_dark8">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6">
                  <div class="about-widget mb_40">
                      <div class="logo mb_10">
                          <img src="assets/images/final-logo.png" alt="" class="hlclogo_sizedesign">
                      </div>
                      <p class="c_light2 fs_17 fw_medium clg_ftrdescrptn">
                          At Prairie Western College, we are dedicated to bring the quality, affordable and flexible
                          education program to take your professional career for a great start and continuous growth.
                      </p>
                  </div>
              </div>
              <div class="col-lg-2 col-md-6">
                  <div class="link-widget-1 mb_40">
                      <h4 class="fs_22 fw_medium mb_20 c_light fs_17">Useful Links</h4>
                      <ul class="link-widget-1-list c_light2 fw_medium">
                          <li><a href="#">Home</a></li>
                          <li><a href="#" target="_blank">About</a></li>
                          <li><a routerLink="faq">FAQ</a></li>
                          <li><a routerLink="privacy-policy">Privacy Policy</a></li>
                          <li><a href="#">Terms &amp; Conditions</a></li>


                      </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="link-widget-1 mb_40">
                      <h4 class="fs_22 fw_medium mb_20 c_light fs_17">My Account</h4>
                      <ul class="link-widget-1-list c_light2 fw_medium">
                          <li><a href="#">Account Settings</a></li>
                          <li><a href="#" target="_blank">User register</a></li>
                          <li><a href="#">User Login</a></li>
                          <li><a href="#">Join Event</a></li>
                          <li><a href="#">Blog</a></li>

                      </ul>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="newsletter-widget-1 mb_40">
                      <h4 class="fs_22 fw_medium mb_20 c_light">Newsletter</h4>
                      <p class="mb_20 c_light2 fw_medium">Get latest updates and offers.</p>
                      <div class="footer-newsletter mb_25">
                          <form>
                              <input type="email" placeholder="Enter your email address">
                              <button class="btn-1"><i class="fas fa-paper-plane planei" ></i> <span></span></button>
                          </form>
                      </div>

                  </div>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="footer-border"></div>
          <div class="d-flex justify-content-center pt_20 pb_6">
              <p class="c_light2 fs_17 mb_20 fw_medium">
                  © 2024 Prairie Western College . All Rights Reserved | Design and Developed by
                  <a href="https://devantitsolutions.com/" target="_blank" class="company_linktext">DITS</a>
              </p>
          </div>
      </div>
  </div>
</footer>
<!-- footer -->
