<!-- inner-banner -->
<section class="page-title-section top-position1 bg-img cover-background left-overlay-secondary" data-overlay-dark="6" data-background="assets/images/banner/praiinnerbanner.jpg" style="background-image: url(assets/images/banner/praiinnerbanner.jpg);">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="text-start">
                  <div class="position-relative">
                      <h1>Apply-Form</h1>
                  </div>
                  <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Apply-Form</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- inner-banner -->
<!-- apply-form -->
<section class="fullbackground_area">
<div class="" >
  <div class="container new">
    <div class="bg_gray10 ">
      <div class="formapply">

      <h2 class="fw_black fs_45 mb_20" style="text-align: center;" >Apply Now</h2>
      <h6 class="theme-color ff_sec fw_bold tt_u fs_14 ls_1 mb_15" style="text-align: center;"><span class="w_30 h_2 theme-bg mr_10 d_iblock v_middle"></span>Start Your Journey Here: Apply to Prairie Western College</h6>
      <div class="row">
        <div class="col-lg-5">
          <img src="assets/images/banner/smiley-pregnant-woman-holding-clipboard-pointing-up-min.jpg" class="newimg">
        </div>
          <div class="col-lg-7">
              <div class="">
                  <form method="" id="" action="" novalidate="">
                    <img src="assets/images/final-logo.png" class="main-logo1" alt="logo">
                      <div class="row">
                          <div class="form-group col-md-4">
                              <input type="text" name="form_name" class="form-control" value="" placeholder="first Name" required="" aria-required="true" >
                          </div>
                          <div class="form-group col-md-4">
                            <input type="text" name="form_name" class="form-control" value="" placeholder="Last Name" required="" aria-required="true">
                        </div>
                        <div class="form-group col-md-4">
                          <input type="date" name="form_dateofbirth" class="form-control" value="" placeholder="Date Of Birth" required="" aria-required="true">
                      </div>
                      <div class="form-group col-md-12">
                        <textarea name="form_address" class="form-control" placeholder="Address"></textarea>
                    </div>
                        <div class="form-group col-md-4">
                          <input type="text" name="form_city" class="form-control" value="" placeholder="City" required="" aria-required="true">
                      </div>
                          <div class="form-group col-md-4">
                              <input type="text" name="form_stateprovideregion" class="form-control" value="" placeholder="State province region" required="" aria-required="true">
                          </div>

                          <div class="form-group col-md-4">
                              <input type="text" name="form_country" class="form-control" value="" placeholder="Country" required="" aria-required="true">
                          </div>
                          <div class="form-group col-md-4">
                            <input type="text" name="form_zippostalcode" class="form-control" value="" placeholder="Zip postal code" required="" aria-required="true">
                          </div>
                          <div class="form-group col-md-4">
                            <input type="text" name="form_zippostalcode" class="form-control" value="" placeholder="Email" required="" aria-required="true">
                          </div>
                          <div class="form-group col-md-4">
                            <input type="text" name="form_phonenumber" class="form-control" value="" placeholder="Phone number" required="" aria-required="true">
                          </div>
                          <div class="form-group col-md-6">
                            <select id="" name="" form="">
                              <option value="Student">Student</option>
                              <option value="local Student">Local Student</option>
                              <option value="International Student">International Student</option>

                            </select>
                          </div>
                          <div class="form-group col-md-6">
                            <select id="" name="" form="">
                              <option value="Program">Program</option>
                              <option value="local Student">Existing Programs</option>
                              <option value="Upcoming Programs">Upcoming Programs</option>

                            </select>
                          </div>
                          <div class="form-group col-md-12 redmre_btnstructure">
                              <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                              <button class="btn-1 text-center pt_12 pb_9 pl_30 pr_30 b_radius_5 ff_sec fw_bold tt_u fs_14 ls_1" type="submit">Submit now <span></span></button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>

      </div>
    </div>
  </div>
</div>
</div>
</section>
<!-- apply-form -->
