<!-- inner-banner -->
<section class="page-title-section top-position1 bg-img cover-background left-overlay-secondary" data-overlay-dark="6" data-background="assets/images/banner/praiinnerbanner.jpg" style="background-image: url(assets/images/banner/praiinnerbanner.jpg);">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="text-start">
                  <div class="position-relative">
                      <h1>About Us</h1>
                  </div>
                  <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About Us</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- inner-banner -->
<!-- about-us -->
<section class="pb_90 mt_90">
  <div class="container">
      <div class="row">
          <!-- <div class="col-lg-5 wow fadeInUp animated" data-wow-delay=".2s" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInUp;">
              <div class="image mb_30"><img src="assets/images/banner/testhlc-about1.jpg" alt=""></div>
          </div> -->
          <div class="col-lg-5 wow fadeInUp animated" data-wow-delay=".2s" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="feature-image-1">
                <img src="assets/images/banner/aboutusprai.jpg" alt="">
            </div>
        </div>
          <div class="col-lg-7">
              <h6 class="theme-color ff_sec fw_bold tt_u fs_14 ls_1 mb_15"><span class="w_30 h_2 theme-bg mr_10 d_iblock v_middle"></span>About Us</h6>
              <p class="mb_45">At Prairie Western College, we are dedicated to bring the quality, affordable and flexible education program to take your professional career for a great start and continuous growth.</p>

              <h2 class="fw_black fs_28 mb_20">WHY PREFER PRAIRIE WESTERN COLLEGE?</h2>
              <p class="mb_45">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. strategies to ensure proactive domination.</p>
              <ul class="list-1 alt fs_16 fw_medium c_dark2 mb_30">
                <li><i class="fa-solid fa-square-check"></i>Our programs encompass all aspects of business to make our graduates successful in real world.</li>
                <li><i class="fa-solid fa-square-check"></i>The programs are taught by highly educated North American and European graduates who have vast industry experience on global setting.</li>
                <li><i class="fa-solid fa-square-check"></i>We offer flexible class time (week days, evening and week-end) with affordable tuition fees.</li>
                <li><i class="fa-solid fa-square-check"></i>Scholarship, loan and grants are available for eligible students</li>
                <li><i class="fa-solid fa-square-check"></i>Career counseling is integral part of our programs. Students will have easy access to our career counselor.</li>
                <li><i class="fa-solid fa-square-check"></i>Easy access to public transportation – just 5 minutes walking distance from Marlborough LRT station</li>
            </ul>
          </div>
      </div>
  </div>
</section>
<!-- about-us -->
