<!-- inner-banner -->
<section class="page-title-section top-position1 bg-img cover-background left-overlay-secondary" data-overlay-dark="6" data-background="assets/images/banner/praiinnerbanner.jpg" style="background-image: url(assets/images/banner/praiinnerbanner.jpg);">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="text-start">
                  <div class="position-relative">
                      <h1>Admissions</h1>
                  </div>
                  <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Admissions</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- inner-banner -->
<!-- admissions -->
<section class="pt_120 pb_90">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h6 class="theme-color ff_sec fw_bold tt_u fs_14 ls_1 mb_15"><span class="w_30 h_2 theme-bg mr_10 d_iblock v_middle"></span>What we do</h6>
              <h2 class="fs_45 fw_black mb_30">Admissions</h2>
              <p class="mb_30 fs_15 c_dark3">Please contact Melanie Geick, Registrar & Head of Admissions & Administration,
                 via phone 403-454-0948 or via email melaniegeickprairiewestern.ca or informaion.pwcgmail.com
                 to talk to one of our experienced advisor to discuss any questions related with admissions</p>
              <h5>Admission Requirement For Standard Admission</h5>
              <p class="mb_45" style="font-weight: 700;">Students must meet ALL of the following criteria:</p>
              <ul class="list-1 alt fs_16 fw_medium c_dark2 mb_30">
                <li><i class="fa-solid fa-square-check"></i>Successful completion of High School diplomaOR Successful completion of the G.E.D or Equivalent</li>
                <li><i class="fa-solid fa-square-check"></i>Satisfactory interview with college admission department</li>

                </ul>
                <h5>Admission Requirement For Mature Admission</h5>
              <p class="mb_45" style="font-weight: 700;">Students must meet ALL of the following criteria:</p>
              <ul class="list-1 alt fs_16 fw_medium c_dark2 mb_30">
                <li><i class="fa-solid fa-square-check"></i>19 years of age (and one year out of high school)</li>
                <li><i class="fa-solid fa-square-check"></i>At least thirty-three credits towards an Alberta high school diploma or non-Alberta
                  Equivalent.</li>
                <li><i class="fa-solid fa-square-check"></i>Successfully pass the standardized admission test conducted by college admission
                  Department</li>
                <li><i class="fa-solid fa-square-check"></i>Satisfactory interview with college admission department</li>
                </ul>
                <h5>Wonderlic Scholarstic Level </h5>
                <p class="mb_30 fs_15 c_dark3">Prairie Western College will conduct Wonderlic Scholarstic
                   Level Exam to determine the admissionability for the student for various programs</p>
                <p class="mb_30 fs_15 c_dark3">To Apply, please complete the <a href="#">webform</a> and submit.</p>
                <p class="mb_30 fs_15 c_dark3">Alternatively you can contact the admissions office.</p>
                <p class="fs_15 c_dark3">Admission Office:</p>
                <ul class="list-1 alt fs_16 fw_medium c_dark2 mb_30">
                  <li>Melanie Geick</li>
                  <li>Registrar & Head of Admissions & Administration</li>
                  <li>Email: melaniegeickprairiewestern.ca or informaion.pwcgmail.com</li>
                  <li>Phone: 403-454-0948 or 403-454-7923</li>
                  </ul>
          </div>

      </div>
  </div>
</section>
<!-- admissions -->
