<!-- inner-banner -->
<section class="page-title-section top-position1 bg-img cover-background left-overlay-secondary" data-overlay-dark="6" data-background="assets/images/banner/praiinnerbanner.jpg" style="background-image: url(assets/images/banner/praiinnerbanner.jpg);">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="text-start">
                  <div class="position-relative">
                      <h1>FAQ</h1>
                  </div>
                  <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">FAQ</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- inner-banner -->
<!-- faq -->

<div class="container">
  <section class="accordion">
    <div class="tab">
      <input type="checkbox" name="accordion-1" id="cb1" checked>
      <label for="cb1" class="tab__label">Eligibility requirements and Schedules</label>
      <div class="tab__content">
        <h5>Q. What is Full-time course load?</h5>
        <p class="mb_45" style="font-weight: 700;">A. Student Aid considers you a full-time student if you:</p>
        <ul class="list-1 alt fs_16 fw_medium c_dark2 mb_30">
          <li><i class="fa-solid fa-square-check"></i>are enrolled in at least 60% of what your school considers a full-time course load, or</li>
          <li><i class="fa-solid fa-square-check"></i>have a disability and are enrolled in at least 40% of a full-time course load</li>
          <li><i class="fa-solid fa-square-check"></i>are attending a licensed private career college in a program that is 12 weeks or longer and has 20+ instruction/practicum hours per week</li>

          </ul>
          <p class="mb_45" style="font-weight: 700;"> Learn more at the related <a href="https://studentaid.alberta.ca/eligibility/eligibility-requirements-for-full-time-students/">Alberta Student Aid page</a></p>
          <h5>Q. How does Prairie Western College determine the class schedule?</h5>
          <p class="mb_30 fs_15 c_dark3">A. Prairie Western College has a flexible semester system and each month we offer classes.  Contact the admissions office via phone 403-454-0948 (during business hours) or sending an email at infoprairiewestern.ca or information.pwcgmail.com for schedule each month.</p>
      </div>
    </div>


  </section>
  <section class="accordion">


    <div class="tab">
      <input type="checkbox" name="accordion-1" id="cb2">
      <label for="cb2" class="tab__label">Common Questions</label>
      <div class="tab__content">
        <h5>Q: What is a private career college?</h5>
        <p class="mb_30 fs_15 c_dark3">A: Private career colleges (PCC) teach and award certificates and diplomas in fields such as trades, health care, information-technology, applied arts and design, transportation, personal services, and law enforcement.</p>
        <h5>Q: What is a private career college?</h5>
        <p class="mb_30 fs_15 c_dark3">A: Yes, Prairie Western College is a fully accredited Private Career College in Alberta and we offer programs in the following</p>
        <ul class="list-1 alt fs_16 fw_medium c_dark2 mb_30">
          <li><i class="fa-solid fa-square-check"></i>Accounting and Payroll Administration Diploma (1 Year)</li>
          <li><i class="fa-solid fa-square-check"></i>Business Administration (1 year) Diploma</li>
          <li><i class="fa-solid fa-square-check"></i>Business Administration (2 year) Diploma</li>
          <li><i class="fa-solid fa-square-check"></i>Medical Office Assistant and Unit Clerk Diploma</li>

          </ul>
          <p class="mb_30 fs_15 c_dark3">More programs are coming up.</p>
          <h5>Q: Do students in Prairie Western College eligible for support from Alberta Student Aid?</h5>
          <p class="mb_30 fs_15 c_dark3">A: Yes, Prairie Western College is a fully accredited Private Career College in Alberta and we offer programs in the following</p>
          <h5>Q: What is the application process for admission in Prairie Western College?</h5>
          
      </div>
    </div>
  </section>
</div>
<!-- faq -->
